.meal__card
{
  background-color: white;
  text-align: center;
  border-radius: 3rem;
  padding-bottom: 1.25rem;
  transition: 0.3s;
  position: relative;


  &:hover
  {
    transform: scale(1.05);
  }


  .meal__image 
  {
    width: 11.25rem;
    border-radius: 50%;
    margin: 0 auto;
    transform: translateY(-2rem);
  }

  .meal__title {
    font-weight: 600;
    font-size: 1.25rem;
  }

 
  .meal__button 
  {
    background-color: #21ba75;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 10rem;
    margin-top: 1.25rem;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
      background-color: #059669;
    }
  }
}


